<div class="container">
  <app-alert-success [hidden]="!showMessageSuccess">
    Empregado <strong> {{ employee?.name }} </strong>cadastrado com sucesso!
  </app-alert-success>

  <div class="row">
    <h1>Nossos empregados</h1>
    <p salaryColor></p>
    <table class="table">
      <thead>
        <tr>
          <td colspan="3">
            <button class="btn btn-primary" (click)="openNewModal()">
              Novo empregado
            </button>
          </td>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bônus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeService.employees">
          <td [innerHtml]="employee.name"></td>
          <td
            [innerHtml]="employee.salary"
            salaryColor="{{ employee.salary }}"
          ></td>
          <td>{{ employee.bonus }}</td>

          <!-- <td [style.color]="getSalaryColor(employee)">{{employee.salary}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-employee-new-modal
  (onSubmit)="onNewEmployee($event)"
></app-employee-new-modal>
