<h1>Nossos empregados</h1>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Salário</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeService.employees">
      <td>{{ employee.name }}</td>
      <td [style.color]="getSalaryColor(employee)">{{ employee.salary }}</td>

      <!-- <td [style.color]="getSalaryColor(employee)">{{employee.salary}}</td> -->

      <td
        [ngClass]="{
          'salary-expensive': employee.salary > 20000,
          'salary-cheap': employee.salary < 1000
        }"
      >
        {{ employee.salary }}
      </td>
    </tr>
  </tbody>
</table>
